<?xml version="1.0" encoding="UTF-8"?>
<thresholds>
  <model>fixed</model>
  <defaultNonFunctionalThreshold>80</defaultNonFunctionalThreshold>
  <testing>80</testing>
  <execution>80</execution>
  <code-quality>80</code-quality>
  <dependencies>80</dependencies>
  <version-control>80</version-control>
  <documentation>80</documentation>
  <security>80</security>
  <problems>80</problems>
  <pipeline>80</pipeline>
</thresholds>
